@page
@using AdminPanel.Models
@model AdminPanel.Areas.Admin.Pages.Roles.IndexModel
@{
    ViewData["Title"] = "Roles";
    Layout = "_Dashboard";
}


<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Roles DataTables</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-10">
                    <partial name="_StatusMessage" for="StatusMessage" />
                </div>
                <div class="col-lg-2">
                    <a asp-area="Admin" asp-page="/ManageRoles/Create" class="btn btn-success py-2 px-4 shadow-none">Create</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with every role data</h3>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>No of users</th>
                                        <th>Role manager</th>
                                        <th>Date created</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.RoleList != null)
                                        {
                                            @foreach (ApplicationRole role in Model.RoleList)
                                            {
                                                <tr>
                                                    <td>
                                                        @{
                                                            if (role.Icon != null)
                                                            {
                                                                <a asp-area="Admin" asp-page="/ManageRoles/Profile/Index" asp-route-id="@role.Id">
                                                                    <img class="user-image" src="data:image/*;base64,@(Convert.ToBase64String(role.Icon))"> @role.Name
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a asp-area="Admin" asp-page="/ManageRoles/Profile/Index" asp-route-id="@role.Id">
                                                                    <img class="user-image" class="rounded-circle" object-fit:cover" src="~/img/user.png"> @role.Name
                                                                </a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @role.NoOfUser
                                                    </td>
                                                    <td>
                                                        @role.Manager.FullName
                                                    </td>
                                                    <td>
                                                        @role.DateCreated.ToString("MMM dd, yyyy")
                                                    </td>
                                                    <td class="dropdown">
                                                        <a asp-area="Admin" asp-page="/ManageRoles/Profile/Index" asp-route-id="@role.Id" class="btn btn-success shadow-none">
                                                            Manage
                                                        </a>
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>No of users</th>
                                        <th>Role manager</th>
                                        <th>Date created</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>