@page
@model AdminPanel.Areas.Admin.Pages.ManageUsers.Profile.PersonalInfoModel
@{
    Layout = "_Dashboard";
    ViewData["Title"] = "Personal Info";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Personal Info</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-page="/ManageUsers/Profile/Index" asp-route-id="@Model.UserData.Id">Profile</a></li>
                        <li class="breadcrumb-item active">@Model.UserData.FullName</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="profile-heading">
                <div class="my-2">
                    <div class="d-flex justify-content-center">
                        <div class="col-md-6">
                            <partial name="_StatusMessage" for="StatusMessage" />
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="my-2">
                            <div class="d-flex justify-content-center">

                                <div class="my-2">
                                    @{
                                        if (Model.UserProfilePicture != null)
                                        {
                                            <img id="profilePicture"
                                                 class="rounded-circle"
                                                 src="data:image/*;base64,@(Convert.ToBase64String(Model.UserProfilePicture))" />
                                        }
                                        else
                                        {
                                            <img id="profilePicture" class="rounded-circle" src="~/img/user.png">
                                        }
                                    }
                                </div>

                            </div>
                            <h4 class="my-1 text-center">User, @Model.UserData.FullName</h4>
                            <p class="text-center">Edit and manage info about @Model.UserData.FirstName and preferences</p>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <form id="updateForm needs-validation" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="profile-body">

                            <div class="row align-items-center">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <div class="heading">
                                        <h4>Manage @Model.UserData.FirstName's personal information </h4>
                                        <p>Personal info and options to manage it. You can make some of this info, like your contact details, visible to others so they can reach you easily. You can also see a summary of your profiles.</p>
                                    </div>
                                </div>

                                <div class="col-sm-6 d-flex justify-content-center mb-3 mb-sm-0">
                                    <img src="~/img/personal-info.svg" class="img-fluid w-50" alt="...">
                                </div>
                            </div>

                            <div class="personal-info my-4">
                                <div class="border shadow-sm border-success rounded-3 border-opacity-75 border-3 p-3">
                                    <h5 class="fw-bold">Basic Information </h5>
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                        <div class="row align-items-center">
                                            <div class="col-md-6">
                                                <div class="d-flex justify-content-center">
                                                    <div class="border rounded border-3 p-3">
                                                        <div class="d-flex justify-content-center">
                                                            @{
                                                                if (Model.UserProfilePicture != null)
                                                                {
                                                                    <img id="profilePicture2"
                                                                         class="rounded-circle center"
                                                                         src="data:image/*;base64,@(Convert.ToBase64String(Model.UserProfilePicture))" />
                                                                }
                                                                else
                                                                {
                                                                    <img id="profilePicture2" class="rounded-circle center" src="~/img/user.png">
                                                                }
                                                            }
                                                        </div>


                                                        <input class="form-control shadow-none my-3" asp-for="Input.ProfilePicture" onchange="document.getElementById('profilePicture2').src = window.URL.createObjectURL(this.files[0])" type="file" id="formFile" />
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <div class="accordion-item p-2">
                                                        <h6 class="fw-semibold">Username:</h6>
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse" aria-expanded="false" aria-controls="flush-collapse">
                                                                <span>@Model.UserData.UserName</span>
                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapse" class="accordion-collapse collapse p-2" data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <div class="form-floating mb-3">
                                                                    <input asp-for="Input.UserName" class="form-control shadow-none" autocomplete="username" aria-required="true" placeholder="Username" />
                                                                    <label asp-for="Input.UserName" class="form-label">Username</label>
                                                                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="accordion-item p-2">
                                                        <h6 class="fw-semibold">Name:</h6>
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                                <span>@Model.UserData.FullName</span>
                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapseOne" class="accordion-collapse collapse p-2" data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <div class="form-floating mb-3">
                                                                    <input asp-for="Input.FirstName" class="form-control shadow-none" autocomplete="firstName" aria-required="true" placeholder="First name" />
                                                                    <label asp-for="Input.FirstName" class="form-label">First name</label>
                                                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                                                </div>

                                                                <div class="form-floating mb-3">
                                                                    <input asp-for="Input.LastName" class="form-control shadow-none" autocomplete="lastName" aria-required="true" placeholder="Last name" />
                                                                    <label asp-for="Input.LastName" class="form-label">Last name</label>
                                                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="accordion-item p-2">
                                                        <h6 class="fw-semibold">Date of birth:</h6>
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                                <span>@Model.UserData.DOB.ToString("MMMM dd, yyyy")</span>
                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapseTwo" class="accordion-collapse collapse p-2" data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <div class="form-floating mb-3">
                                                                    <input asp-for="Input.DOB" class="form-control shadow-none" aria-required="true" />
                                                                    <label asp-for="Input.DOB" class="form-label">Date of birth</label>
                                                                    <span asp-validation-for="Input.DOB" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="accordion-item p-2">
                                                        <h6 class="fw-semibold">Gender:</h6>
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                                                <span>@Model.UserData.Gender</span>
                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <div class="form-floating mb-3">
                                                                    <select asp-for="Input.Gender" class="form-control shadow-none">
                                                                        <option value="Male">Male</option>
                                                                        <option value="Female">Female</option>
                                                                    </select>
                                                                    <span asp-validation-for="Input.Gender" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <div class="contact-info my-3">
                                        <div class="border shadow-sm border-success rounded-3 border-opacity-75 border-3 p-3">
                                            <h5 class="fw-bold">Address Information </h5>
                                            <div class="accordion accordion-flush" id="accordionFlushExample">

                                                <div class="accordion-item p-2">
                                                    <h6 class="fw-semibold">Street:</h6>
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                                            <span>@Model.UserContactInfo.Street</span>
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseSix" class="accordion-collapse collapse p-2" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="form-floating mb-3">
                                                                <input asp-for="Input.Street" class="form-control shadow-none" autocomplete="street" aria-required="true" placeholder="Street" />
                                                                <label asp-for="Input.Street" class="form-label">Street address</label>
                                                                <span asp-validation-for="Input.Street" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="accordion-item p-2">
                                                    <h6 class="fw-semibold">City</h6>
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                                                            <span>@Model.UserContactInfo.City</span>
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseSeven" class="accordion-collapse collapse p-2" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="form-floating mb-3">
                                                                <input asp-for="Input.City" class="form-control shadow-none" aria-required="true" placeholder="City" />
                                                                <label asp-for="Input.City" class="form-label">City address</label>
                                                                <span asp-validation-for="Input.City" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="accordion-item p-2">
                                                    <h6 class="fw-semibold">State</h6>
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                                                            <span>@Model.UserContactInfo.State</span>
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseEight" class="accordion-collapse collapse p-2" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="form-floating mb-3">
                                                                <input asp-for="Input.State" class="form-control shadow-none" aria-required="true" placeholder="State" />
                                                                <label asp-for="Input.State" class="form-label">State address</label>
                                                                <span asp-validation-for="Input.State" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="accordion-item p-2">
                                                    <h6 class="fw-semibold">Zip Code</h6>
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                                                            <span>@Model.UserContactInfo.ZipCode</span>
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseTen" class="accordion-collapse collapse p-2" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="form-floating mb-3">
                                                                <input asp-for="Input.ZipCode" class="form-control shadow-none" aria-required="true" placeholder="State" />
                                                                <label asp-for="Input.ZipCode" class="form-label">Zip code</label>
                                                                <span asp-validation-for="Input.ZipCode" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="contact-info my-3">
                                        <div class="border shadow-sm border-success rounded-3 border-opacity-75 border-3 p-3">
                                            <h5 class="fw-bold">Contact Information </h5>
                                            <div class="accordion accordion-flush" id="accordionFlushExample">

                                                <div class="accordion-item p-2">
                                                    <h6 class="fw-semibold">Email:</h6>
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                                            <span>@Model.UserData.Email</span>
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseFour" class="accordion-collapse collapse p-2" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="form-floating mb-3">
                                                                <input asp-for="Input.Email" class="form-control shadow-none" autocomplete="email" aria-required="true" placeholder="First name" />
                                                                <label asp-for="Input.Email" class="form-label">Email</label>
                                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item p-2">
                                                    <h6 class="fw-semibold">Phone number</h6>
                                                    <h2 class="accordion-header">
                                                        <button class="accordion-button collapsed shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                                            <span>@Model.UserData.PhoneNumber</span>
                                                        </button>
                                                    </h2>
                                                    <div id="flush-collapseFive" class="accordion-collapse collapse p-2" data-bs-parent="#accordionFlushExample">
                                                        <div class="accordion-body">
                                                            <div class="form-floating mb-3">
                                                                <input asp-for="Input.PhoneNumber" class="form-control shadow-none" aria-required="true" placeholder="Phone number" />
                                                                <label asp-for="Input.PhoneNumber" class="form-label">Phone number</label>
                                                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="save-button my-3 float-end">
                            <button type="submit" class="btn btn-success w-100 shadow-none">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>