@page
@model AdminPanel.Areas.Admin.Pages.ManageUsers.Profile.RolesModel
@using AdminPanel.Models
@using AdminPanel.ViewModels
@{
    Layout = "_Dashboard";
    ViewData["Title"] = "Personal Info";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Roles Info</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-page="/ManageUsers/Profile/Index" asp-route-id="@Model.UserData.Id">Profile</a></li>
                        <li class="breadcrumb-item active">@Model.UserData.FullName</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="profile-heading">
                <div class="my-2">
                    <div class="d-flex justify-content-center">
                        <div class="col-md-6">
                            <partial name="_StatusMessage" for="StatusMessage" />
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="my-2">
                            <div class="d-flex justify-content-center">

                                <div class="my-2">
                                    @{
                                        if (Model.UserProfilePicture != null)
                                        {
                                            <img id="profilePicture"
                                                 class="rounded-circle"
                                                 src="data:image/*;base64,@(Convert.ToBase64String(Model.UserProfilePicture))" />
                                        }
                                        else
                                        {
                                            <img id="profilePicture" class="rounded-circle" src="~/img/user.png">
                                        }
                                    }
                                </div>

                            </div>
                            <h4 class="my-1 text-center">User, @Model.UserData.FullName</h4>
                            <p class="text-center">Edit and manage info about @Model.UserData.FirstName and preferences</p>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <div class="profile-body">

                        <div class="row justify-content-center align-items-center">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <div class="heading">
                                    <h4>Manage @Model.UserData.FirstName's roles information </h4>
                                    <p>Personal info and options to manage it. You can make some of this info, like your contact details, visible to others so they can reach you easily. You can also see a summary of your profiles.</p>
                                </div>
                            </div>

                            <div class="col-sm-6 d-flex justify-content-center mb-3 mb-sm-0">
                                <img src="~/img/roles.svg" class="img-fluid w-50" alt="...">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                <div class="personal-info my-4">
                                    <div class="border rounded border-3 p-3">
                                        <h5 class="fw-bold">Roles Information </h5>
                                        <div class="accordion accordion-flush" id="accordionFlushExample">
                                            @{
                                                if (Model.RoleList != null)
                                                {
                                                    foreach (RoleViewModel userRole in Model.RoleList)
                                                    {
                                                        <div class="accordion-item">
                                                            <h2 class="accordion-header">
                                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@userRole.RoleName" aria-expanded="false" aria-controls="flush-@userRole.RoleName">
                                                                    @userRole.RoleName
                                                                    @{
                                                                        if (@userRole.isActive == false)
                                                                        {
                                                                            <span class="badge rounded-pill text-bg-danger mx-3">Inactive</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="badge rounded-pill text-bg-success mx-3">Active</span>
                                                                        }
                                                                    }
                                                                </button>
                                                            </h2>
                                                            <div id="flush-@userRole.RoleName" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                                                <ul class="list-group my-4">
                                                                    <li class="list-group-item"><span class="fw-semibold">Start date</span>: @userRole.StartDate.ToString("MMM dd, yyyy hh:mm tt")</li>
                                                                    <li class="list-group-item"><span class="fw-semibold">End date</span>: @userRole.EndDate.ToString("MMM dd, yyyy hh:mm tt")</li>
                                                                    <li class="list-group-item">
                                                                        @{
                                                                            if (@userRole.isActive == false)
                                                                            {
                                                                                <span class="fw-semibold">Status</span>
                                                                                <span class="badge rounded-pill text-bg-danger">Inactive</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span class="fw-semibold">Status: </span>
                                                                                <span class="badge rounded-pill text-bg-success">Active</span><br />
                                                                                <span class="fw-semibold">Days left:</span>
                                                                                if (@userRole.DaysLeft.Days > 1)
                                                                                {
                                                                                    <span>@userRole.DaysLeft.Days days @userRole.DaysLeft.Hours hours</span>
                                                                                } 
                                                                                else
                                                                                {
                                                                                    <span>@userRole.DaysLeft.Days day @userRole.DaysLeft.Hours hours</span>
                                                                                }
                                                                            }
                                                                        }
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <form id="updateForm needs-validation" enctype="multipart/form-data" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="personal-info my-4">
                                        <div class="border rounded border-3 p-3">
                                            <h5 class="fw-bold">Manage Role </h5>

                                            @for (int i = 0; i < Model.AssignRoleList.Count; i++)
                                            {
                                                <div class="row align-items-center">
                                                    <div class="col-md-4">
                                                        <div class="form-check">
                                                            <input type="hidden" asp-for="@Model.AssignRoleList[i].RoleId" />
                                                            <input type="hidden" asp-for="@Model.AssignRoleList[i].RoleName" />
                                                            <input asp-for="@Model.AssignRoleList[i].Selected" class="form-check-input shadow-none" />
                                                            <label class="form-check-label shadow-none" asp-for="@Model.AssignRoleList[i].Selected">
                                                                @Model.AssignRoleList[i].RoleName
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-floating mb-3">
                                                            <input asp-for="@Model.AssignRoleList[i].StartDate" class="form-control shadow-none" aria-required="true" />
                                                            <label asp-for="@Model.AssignRoleList[i].StartDate" class="form-label"></label>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-floating mb-3">
                                                            <input asp-for="@Model.AssignRoleList[i].EndDate" class="form-control shadow-none" aria-required="true" />
                                                            <label asp-for="@Model.AssignRoleList[i].EndDate" class="form-label"></label>
                                                        </div>
                                                    </div>
                                                </div>

                                            }

                                        </div>
                                    </div>
                                    <div class="my-4 float-xl-end">
                                        <button type="submit" class="btn btn-success w-100 shadow-none">Save changes</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

