@page
@using AdminPanel.ViewModels
@using AdminPanel.Areas.Admin.Pages.User
@model IndexModel

@{
    ViewData["Title"] = "Users";
    Layout = "_Dashboard";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Users DataTables</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <a asp-area="Admin" asp-page="/ManageUsers/Create" class="btn btn-success py-2 px-4 shadow-none">Create</a>
                </div>
                <div class="col-md-10">
                    <partial name="_StatusMessage" for="StatusMessage" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with every user data</h3>
                        </div>
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Full name</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Roles</th>
                                        <th>Date created</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.UserRoleList != null)
                                        {
                                            @foreach (UserRolesViewModel user in Model.UserRoleList)
                                            {
                                                <tr>
                                                    <td>
                                                        @{
                                                            if (user.ProfilePicture != null)
                                                            {
                                                                <a asp-action="" asp-controller="User">
                                                                    <img class="user-image" src="data:image/*;base64,@(Convert.ToBase64String(user.ProfilePicture))"> @user.FullName
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a asp-action="" asp-controller="User">
                                                                    <img class="user-image" class="rounded-circle" object-fit:cover" src="~/img/user.png"> @user.FullName
                                                                </a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        <a asp-action="" asp-controller="User">
                                                            @user.Username
                                                        </a>
                                                    </td>
                                                    <td>@user.Email</td>
                                                    <td>
                                                        @string.Join(" , ", user.Roles.ToList())
                                                    </td>
                                                    <td>@user.DateCreated.ToString("MMM dd, yyyy")</td>
                                                    <td class="dropdown">
                                                        <a class="text-dark p" href="#" data-toggle="dropdown" aria-expanded="false">
                                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-md dropdown-menu-center">
                                                            <li class="dropdown-item">
                                                                <a asp-area="Admin" class="text-primary" asp-page="/Users/Edit" asp-route-id="@user.Id">
                                                                    <i class="fa-solid text-primary fa-edit"></i> Edit
                                                                </a>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <a asp-area="Admin" class="text-danger" asp-page="/Users/Delete" asp-route-id="@user.Id">
                                                                    <i class="fa-solid text-danger fa-trash"></i> Delete
                                                                </a>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <a asp-area="Admin" class="text-dark" asp-page="/Users/Role" asp-route-id="@user.Id">
                                                                    <i class="fa-solid fa-layer-group"></i> Manage role
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                    
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Full name</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Roles</th>
                                        <th>Date created</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>